name: GitHub CD

on:
  push:
    branches:
      - main
    tags:
      - ldp-testsuite-[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    name: Build environment
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'maven'

    - name: Build with Maven
      run: mvn -B -ntp install -Dgpg.skip -Dmaven.javadoc.skip

    - name: Create staging directory
      run: mkdir -p ldp

    - name: Move shaded jar file
      run: mv target/ldp-testsuite-*-shaded.jar ldp/ldp-testsuite.jar

    - name: Sync to AWS S3
      uses: jakejarvis/s3-sync-action@v0.5.1
      with:
        args: --acl public-read
      env:
          AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          SOURCE_DIR: "ldp"
          DEST_DIR: "ldp"

